.section__links {
  color: hsl(var(--clr-blue));
}

@media (min-width: 768px) {
  .compare__sdks {
    display: flex;
    gap: 0.5rem;
  }

  .compare__sdks img {
    width: 50%;
    border-radius: 15px;
  }
}
