.feature {
  --spacing: 0.75rem;
}

.feature__image {
  margin-inline: auto;
}

.feature__title {
  color: hsl(var(--clr-black) / 0.85);
}

@media (min-width: 768px) {
  .all-features {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}
@media (min-width: 1110px) {
  .feature__image {
    margin-inline: 0;
  }
}
