/* --------------------------------
Custom Properties 
---------------------------------- */

:root {
  /* Colors */
  --clr-blue: 212 96% 40%;
  --clr-black: 216 17% 6%;
  --clr-grey: 240 5% 49%;

  /* Fonts */
  --ff-sans: 'Rubik', sans-serif;
}
