/* --------------------------------
Custom Properties 
---------------------------------- */

:root {
  /* Colors */
  --clr-blue: 212 96% 40%;
  --clr-black: 216 17% 6%;
  --clr-grey: 240 5% 49%;
  --clr-bg-grey: 0, 0%, 97%;
  --clr-white: 0 0% 100%;

  /* Fonts */
  --ff-sans: 'Rubik', sans-serif;

  /* font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
}

/* --------------------------------
Resets
---------------------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
blockquote {
  margin: 0;
}

/* set up the body */
body {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  color: hsl(var(--clr-grey));
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Removes underline from anchor tag */
a {
  text-decoration: none;
}

/* Removes styles from li */
li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 125px;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
